body{
    background: black;
    color: red;
    font-family: 'Cinzel Decorative', cursive;
}

.container{
    box-sizing: content-box;
    float: center;
   margin: 100px;
   height: 960px;
   text-align: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

#message{
    font-size: 30px;
}
#images{
    position: fixed;
    left: 285px;
}